body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                url('image.png') no-repeat center center;
    background-size: cover;
    background-attachment: fixed; /* Keeps the background fixed during scroll */
  }

h1{
    text-align: center;
    color:crimson;
    
}
logo{
   size: 10cm;
}
